<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

    <suite name="All Test Suite">
            <test verbose="2" preserve-order="false" name="Cookie Pop-up">
                <classes>
                    <class name="tests.CookiePopUpTest"/>
                </classes>
            </test>
            <test verbose="2" preserve-order="false" name="Contact For Success">
                <classes>
                    <class name="tests.ContactFormSuccessTest"/>
                </classes>
            </test>
            <test verbose="2" preserve-order="false" name="Contact For Failure">
                <classes>
                    <class name="tests.ContactFormFailureTest"/>
                </classes>
            </test>
    </suite>