<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

    <suite name="All Test Suite">
            <test verbose="2" preserve-order="true" name="Cookie Pop-up">
                <classes>
                    <class name="tests.CookiePopUpTest">
                        <methods>
                            <include name="cookiePopupAppeared"/>
                        </methods>
                    </class>
                </classes>
            </test>
    <test verbose="2" preserve-order="true" name="Contact Form">
        <classes>
            <class name="tests.ContactUsFormTest">
                <methods>
                    <include name="contactTestSuccess"/>
                    <include name="contactTestFailure"/>
                </methods>
            </class>
        </classes>
    </test>
    </suite>